<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


    <context:component-scan base-package="mx.dr.ml.dao" />
    <context:component-scan base-package="mx.dr.ml.service.impl" />


    <tx:annotation-driven transaction-manager="txManager"/>

  <!-- a PlatformTransactionManager is still required -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  <!-- (this dependency is defined somewhere else) -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="useTransactionAwareDataSource" value="true" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">create-drop</prop>
                <!--prop key="hibernate.search.default.directory_provider">org.hibernate.search.store.RAMDirectoryProvider</prop-->
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>mx.test.vo.Category</value>               
                <value>mx.test.vo.MainCategory</value>
                <value>mx.test.vo.User</value>
                <value>mx.test.vo.Attachment</value>
                <value>mx.test.vo.Contact</value>
                <value>mx.test.vo.Contract</value>
                <value>mx.test.vo.Address</value>
                <value>mx.test.vo.Document</value>
                <value>mx.test.vo.Company</value>
                <value>mx.test.vo.City</value>
                <value>mx.test.vo.FiscalRegistry</value>
            </list>
        </property>


    </bean>

   <!--jee:jndi-lookup id="baseDataSource" jndi-name="jdbc/dr_ml" resource-ref="true" />

   <bean id="dataSource" class="org.springframework.jdbc.datasource.TransactionAwareDataSourceProxy">
      <constructor-arg>
         <ref bean="baseDataSource" />
      </constructor-arg>
   </bean-->
  
    <bean id="dataSource"
                            class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>org.hsqldb.jdbcDriver</value>
        </property>

        <property name="url">
            <value>jdbc:hsqldb:mem:testdb</value>
        </property>
        <property name="username">
            <value>sa</value>

        </property>
        <property name="password">
            <value></value>
        </property>
    </bean>


</beans>
